@PART[strl-eng-sq-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = free
	}
}

@PART[strl-eng-062-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 0.625
		scaleFactors = 0.2, 0.625, 0.9375, 1.25, 1.875
		scaleNames = 0.2m, 0.625m, 0.9375m, 1.25m, 1.875m
	}
}

@PART[strl-eng-093-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 0.9375
		scaleFactors = 0.313, 0.625, 0.9375, 1.25, 1.875
		scaleNames = 0.313m, 0.625m, 0.9375m, 1.25m, 1.875m
	}
}

@PART[strl-eng-125-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 1.25
		scaleFactors = 0.313, 0.625, 0.9375, 1.25, 1.875, 2.5
		scaleNames = 0.313m, 0.625m, 0.9375m, 1.25m, 1.875m, 2.5m
	}
}

@PART[strl-eng-187-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 1.875
		scaleFactors = 0.625, 0.9375, 1.25, 1.875, 2.5, 3.75
		scaleNames = 0.625m, 0.9375m, 1.25m, 1.875m, 2.5m, 3.75m
	}
}

@PART[strl-eng-250-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 2.5
		scaleFactors = 1.25, 1.875, 2.5, 3.75, 5
		scaleNames = 1.25m, 1.875m, 2.5m, 3.7m, 5m
	}
}

@PART[strl-eng-375-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 3.75
		scaleFactors = 1.875, 2.5, 3.75, 5, 5.625, 6.25, 7.5, 10
		scaleNames = 1.875m, 2.5m, 3.7m, 5m, 5.625m, 6.25m, 7.5m, 10m
	}
}

@PART[strl-eng-500-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 5
		scaleFactors = 2.5, 3.75, 5, 5.625, 6.25, 7.5, 10, 15, 20, 25, 50
		scaleNames = 2.5m, 3.7m, 5m, 5.625m, 6.25m, 7.5m, 10m, 15m, 20m, 25m, 50m
	}
}

@PART[strl-eng-1000-*]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		%type = stack
		%defaultScale = 10
		scaleFactors = 5, 5.625, 6.25, 7.5, 10, 15, 20, 25, 50, 75, 100
		scaleNames = 5m, 5.625m, 6.25m, 7.5m, 10m, 15m, 20m, 25m, 50m, 75m, 100m
	}
}

